body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    overflow: auto;
}

.arc {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-item p {
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        width: 90%;
    }
}
